{{ define "main" }}
{{ partial "back_link.html" .}}

<article>
    <h1>{{ .Title }}</h1>
    <p class="post-meta">
        Started writing on: 
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
        {{ if .Lastmod }}
            | Last modified:
            <time datetime="{{ .Lastmod }}">
                {{ .Lastmod | time.Format site.Params.theme_config.date_format }}
            </time>
        {{ end }}
	{{ if .Params.finished }}
		| Finished: <i>{{ .Params.finished }}</i>
	    {{ else }}
		| Finished: <i>N/A</i>
	    {{ end }}
    </p>
    {{ .Content }}


</article>
<img src="/Written-By-Human-Not-By-AI-Badge-white.svg" alt="Not AI generated">
{{ end }}
