{{ define "main" }}
{{ partial "back_link.html" .}}

<article>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>

    <h1>{{ .Title }}</h1>

    {{ .Content }}
</article>
<img src="/Written-By-Human-Not-By-AI-Badge-white.svg" alt="Not AI generated">
{{ end }}
